* {
    box-sizing: border-box;
}

html, body {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    background-color: black;
}

/* Adjust placement of elements once game is functional - DONE */

.gameBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 1000px;
    border: 2px solid black;
    background-image: url("file:///Users/chassyahustla/Desktop/general_assembly/unit_1/homeworks/P1-Project/Intro-Image.png");
}

/* .startGame {
    width: 250px;
    height: 50px;
    background-color: black;
    color: rgb(241, 231, 87);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    border-radius: 12px;
    position: absolute;
    top: 25%;
    left: 25%;
} */

#introPopup {
    position: absolute;
    top: 10%;
    right: 15%;
    width: 100%;
    height: 100%;
    z-index: 1001;
}

.introText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    padding: 40px;
    width: 555px;
    height: 555px;
    background: #FFFFFF;
    border: 5px solid #000;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    box-shadow: #64686e 0px 0px 3px 3px;
    -moz-box-shadow: #64686e 0px 0px 3px 3px;
    -webkit-box-shadow: #64686e 0px 0px 3px 3px;
    position: relative;
    top: 150px; left: 375px;
}

#startGame {
    width: 250px;
    height: 50px;
    background-color: black;
    color: rgb(241, 231, 87);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    border-radius: 12px;
    border: rgb(241, 231, 87);
    position: absolute;
    top: 23%;
    left: 10%;
}

#closeButton {
    width: 250px;
    height: 50px;
    background-color: rgb(101, 204, 161);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    border-radius: 12px;
    border: rgb(101, 204, 161);
}

/* All phases are currently stacked and hidden */

/* .phaseOne, .phaseTwoA, .phaseTwoB, .phaseThreeA, .phaseThreeB, .phaseFourA, .phaseFourB, .phaseFiveA, .phaseFiveB, .endResultWin, .endResultLose {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 1000px;
    border: 2px solid black;
} */

#goodDecisionOne, #badDecisionOne, #goodDecisionTwoA, #badDecisionTwoA, #goodDecisionTwoB, #badDecisionTwoB, #goodDecisionThreeA, #badDecisionThreeA, #goodDecisionThreeB, #badDecisionThreeB, #goodDecisionFourA, #badDecisionFourA, #goodDecisionFourB, #badDecisionFourB, #goodDecisionFiveA, #badDecisionFiveA, #goodDecisionFiveB, #badDecisionFiveB {
    width: 700px;
    height: 75px;
    background-color: black;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    border-radius: 12px;
    border: 2px solid  black;
}

/* #badDecision {

} */

#phaseOne {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 1000px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    border: 2px solid black;
    background-image: url("file:///Users/chassyahustla/Desktop/general_assembly/unit_1/homeworks/P1-Project/MYB-Game-Images/2.png");
    visibility: hidden;
}

/* Change phase classes to IDs */

#phaseTwoA {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 1000px;
    border: 2px solid black;
    background-image: url("file:///Users/chassyahustla/Desktop/general_assembly/unit_1/homeworks/P1-Project/MYB-Game-Images/3.png");
    visibility: hidden;
}

#phaseTwoB {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 1000px;
    border: 2px solid black;
    background-image: url("file:///Users/chassyahustla/Desktop/general_assembly/unit_1/homeworks/P1-Project/MYB-Game-Images/8.png");
    visibility: hidden;
}

#phaseThreeA {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 1000px;
    border: 2px solid black;
    background-image: url("file:///Users/chassyahustla/Desktop/general_assembly/unit_1/homeworks/P1-Project/MYB-Game-Images/4.png");
    visibility: hidden;
}

#phaseThreeB {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 1000px;
    border: 2px solid black;
    background-image: url("file:///Users/chassyahustla/Desktop/general_assembly/unit_1/homeworks/P1-Project/MYB-Game-Images/9.png");
    visibility: hidden;
}

#phaseFourA {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 1000px;
    border: 2px solid black;
    background-image: url("file:///Users/chassyahustla/Desktop/general_assembly/unit_1/homeworks/P1-Project/MYB-Game-Images/5.png");
    visibility: hidden;
}

#phaseFourB {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 1000px;
    border: 2px solid black;
    background-image: url("file:///Users/chassyahustla/Desktop/general_assembly/unit_1/homeworks/P1-Project/MYB-Game-Images/10.png");
    visibility: hidden;
}

#phaseFiveA {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 1000px;
    border: 2px solid black;
    background-image: url("file:///Users/chassyahustla/Desktop/general_assembly/unit_1/homeworks/P1-Project/MYB-Game-Images/6.png");
    visibility: hidden;
}

#phaseFiveB {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 1000px;
    border: 2px solid black;
    background-image: url("file:///Users/chassyahustla/Desktop/general_assembly/unit_1/homeworks/P1-Project/MYB-Game-Images/11.png");
    visibility: hidden;
}

#endResultWin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 1000px;
    border: 2px solid black;
    background-image: url("file:///Users/chassyahustla/Desktop/general_assembly/unit_1/homeworks/P1-Project/MYB-Game-Images/7.png");
    visibility: hidden;
}

#endResultLose {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 1000px;
    border: 2px solid black;
    background-image: url("file:///Users/chassyahustla/Desktop/general_assembly/unit_1/homeworks/P1-Project/MYB-Game-Images/12.png");
    visibility: hidden;
}